<!DOCTYPE html>
    <html>
        <head>
            <title>
                My First Flask Application
            </title>
        </head>
        <body>
            <h2>
                Hi, I am {{student_name}}!
            </h2>
            <form>
                <label for = "FName">
                    First Name: 
                </label>
                <input type = "text" id = "FName" name="FName">
                <br/>
                <br/>
            </form>
            <button type = "button">
                Click Me
            </button>
        </body>
    </html>